[build]
  functions = "netlify/functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/hubspot-api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/widget.html"
  status = 200
